*{
    font-family:"微軟正黑體" ;
}
body{
    margin:0 auto;
    margin-top: 20px;
    width:1300px;
    background-color: rgb(76,72,67);
    -moz-user-select : none;
    -webkit-user-select: none;
    text-align: center;
}

#left{
    width:850px;
    text-align: center;
    display:inline-block;
}

#rightbar{
    width:400px;
    display:inline-block;
    text-align: center;
    vertical-align:top;
    z-index: 2;
}

.team{
    vertical-align:top;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-position: center;
    background-size: 191px,191px;
    width: 191px;
    height: 185px;
    display: inline-block;
    margin-bottom: 8px;
    padding-top: 70px;
    color: white;
    font-size: 35px;
    font-weight: bold;
    background-repeat: no-repeat ;
}

.level_style{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width:130px;
    height:130px;
    margin-left:30px;
    margin-right:30px;
    background-image: url(../image/game/game_close.png);
    background-repeat: no-repeat;
    vertical-align: top;
    background-size: 130px 130px;
    display: inline-block;
    padding-top: 73px;
    font-size: 27px;
    font-weight: bold;
}

#time{
    display: inline-flex;
    align-items:center;
    justify-content:center;
    margin:10px;
    background-color: white;
    width: 250px;
    height: 100px;
    font-size:60px;
}

.click{
    width:240px;
    cursor: pointer;
}
#relife{
    visibility: visible;
}
.float{
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.cardfront{
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    max-width: 300px;
    max-height: 449px;
}
.cardback{
    backface-visibility: hidden;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    max-width: 300px;
    max-height: 449px;
    transform: rotateY(180deg);
}
.container{
    width: 300px;
    height: 449px;
    display: inline-block;
    perspective: 1000px;
    position: relative;
}
.fliper{
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
.container:hover .fliper{
    transform: rotateY(180deg);
}